:root {
  --body-medium-font-family: "Inter-Medium", Helvetica;
  --body-medium-font-size: 14px;
  --body-medium-font-style: normal;
  --body-medium-font-weight: 500;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: 18px;
  --color-background-brand: var(--foundations-color-alpha-blue-light-10);
  --color-background-default: var(--foundations-color-solid-grey-00);
  --color-background-disabled: var(--foundations-color-solid-grey-10);
  --color-background-error: var(--foundations-color-solid-red-10);
  --color-background-raised: var(--foundations-color-solid-grey-05);
  --color-base-brand: var(--foundations-color-solid-blue-light-50);
  --color-base-error: var(--foundations-color-solid-red-50);
  --color-content-on-error: var(--foundations-color-solid-red-70);
  --color-content-on-success: var(--foundations-color-solid-green-70);
  --color-content-on-warning: var(--foundations-color-solid-yellow-70);
  --color-content-primary: var(--foundations-color-solid-grey-100);
  --color-content-secondary: var(--foundations-color-solid-grey-50);
  --color-content-tertiary: var(--foundations-color-solid-grey-30);
  --color-stroke-primary: var(--foundations-color-solid-grey-10);
  --foundations-color-alpha-blue-dark-20: rgba(71, 126, 255, 0.2);
  --foundations-color-alpha-blue-light-10: rgba(70, 67, 238, 0.1);
  --foundations-color-solid-blue-dark-50: rgba(71, 126, 255, 1);
  --foundations-color-solid-blue-light-50: rgba(70, 67, 238, 1);
  --foundations-color-solid-green-20: rgba(153, 220, 195, 1);
  --foundations-color-solid-green-70: rgba(0, 101, 64, 1);
  --foundations-color-solid-grey-00: rgba(255, 255, 255, 1);
  --foundations-color-solid-grey-05: rgba(245, 245, 245, 1);
  --foundations-color-solid-grey-10: rgba(228, 228, 228, 1);
  --foundations-color-solid-grey-100: rgba(5, 5, 5, 1);
  --foundations-color-solid-grey-30: rgba(173, 173, 173, 1);
  --foundations-color-solid-grey-50: rgba(119, 118, 118, 1);
  --foundations-color-solid-grey-70: rgba(65, 64, 64, 1);
  --foundations-color-solid-grey-80: rgba(46, 46, 46, 1);
  --foundations-color-solid-grey-90: rgba(26, 26, 26, 1);
  --foundations-color-solid-red-10: rgba(246, 216, 216, 1);
  --foundations-color-solid-red-20: rgba(237, 177, 177, 1);
  --foundations-color-solid-red-50: rgba(209, 59, 59, 1);
  --foundations-color-solid-red-70: rgba(125, 36, 36, 1);
  --foundations-color-solid-red-90: rgba(42, 12, 12, 1);
  --foundations-color-solid-yellow-20: rgba(244, 221, 163, 1);
  --foundations-color-solid-yellow-70: rgba(136, 103, 15, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="light"] {
  --color-background-brand: var(--foundations-color-alpha-blue-light-10);
  --color-background-default: var(--foundations-color-solid-grey-00);
  --color-background-disabled: var(--foundations-color-solid-grey-10);
  --color-background-error: var(--foundations-color-solid-red-10);
  --color-background-raised: var(--foundations-color-solid-grey-05);
  --color-base-brand: var(--foundations-color-solid-blue-light-50);
  --color-content-on-error: var(--foundations-color-solid-red-70);
  --color-content-on-success: var(--foundations-color-solid-green-70);
  --color-content-on-warning: var(--foundations-color-solid-yellow-70);
  --color-content-primary: var(--foundations-color-solid-grey-100);
  --color-content-secondary: var(--foundations-color-solid-grey-50);
  --color-content-tertiary: var(--foundations-color-solid-grey-30);
  --color-stroke-primary: var(--foundations-color-solid-grey-10);
}

[data-color-mode="dark"] {
  --color-background-brand: var(--foundations-color-alpha-blue-dark-20);
  --color-background-default: var(--foundations-color-solid-grey-90);
  --color-background-disabled: var(--foundations-color-solid-grey-70);
  --color-background-error: var(--foundations-color-solid-red-90);
  --color-background-raised: var(--foundations-color-solid-grey-80);
  --color-base-brand: var(--foundations-color-solid-blue-dark-50);
  --color-content-on-error: var(--foundations-color-solid-red-20);
  --color-content-on-success: var(--foundations-color-solid-green-20);
  --color-content-on-warning: var(--foundations-color-solid-yellow-20);
  --color-content-primary: var(--foundations-color-solid-grey-00);
  --color-content-secondary: var(--foundations-color-solid-grey-30);
  --color-content-tertiary: var(--foundations-color-solid-grey-50);
  --color-stroke-primary: var(--foundations-color-solid-grey-80);
}

.element {
  background-color: var(--color-background-default);
  height: 812px;
  position: relative;
  width: 1440px;
}

.element .text-wrapper {
  color: var(--color-content-primary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 306px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 47px;
}

.element .sectional-tab-bar {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 306px;
  position: absolute;
  top: 117px;
}

.element .background-line {
  background-color: var(--color-background-disabled);
  height: 2px;
  left: 0;
  position: absolute;
  top: 38px;
  width: 1086px;
}

.element .section {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.element .overview {
  color: var(--color-base-brand);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .highlight {
  background-color: var(--color-base-brand);
  border-radius: 100px;
  height: 2px;
  position: relative;
  width: 92px;
}

.element .overview-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 0px 0px 22px;
  position: relative;
  width: 92px;
}

.element .div {
  color: var(--color-content-tertiary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  cursor: pointer;
}
.element .div:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-base-brand);
}

.element .frame {
  align-items: flex-start;
  display: flex;
  left: 306px;
  position: absolute;
  top: 253px;
  width: 1086px;
}

.element .frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 255px;
}

.element .table-header-cell {
  align-items: center;
  align-self: stretch;
  background-color: var(--color-background-raised);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-stroke-primary);
  border-radius: 12px 0px 0px 0px;
  display: flex;
  gap: 11px;
  height: 48px;
  padding: 12px 24px;
  position: relative;
  width: 100%;
}

.element .content {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.element .text-wrapper-2 {
  color: var(--color-content-primary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element .table-cell {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-stroke-primary);
  border-left-style: solid;
  border-left-width: 1px;
  display: flex;
  height: 72px;
  justify-content: space-between;
  padding: 16px 18px 16px 24px;
  position: relative;
  width: 100%;
}

.element .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  position: relative;
}

.element .text-wrapper-3 {
  color: var(--color-content-primary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .text-wrapper-4 {
  color: var(--color-content-secondary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .img {
  height: 18px;
  position: relative;
  width: 18px;
}

.element .table-cell-2 {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-stroke-primary);
  border-left-style: solid;
  border-left-width: 1px;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 16px 18px 16px 24px;
  position: relative;
  width: 100%;
}

.element .frame-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 149px;
}

.element .table-header-cell-2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--color-background-raised);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-stroke-primary);
  display: flex;
  gap: 11px;
  height: 48px;
  padding: 12px 24px;
  position: relative;
  width: 100%;
}

.element .table-cell-3 {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-stroke-primary);
  display: flex;
  gap: 6px;
  height: 72px;
  padding: 16px 18px 16px 24px;
  position: relative;
  width: 100%;
}

.element .ellipse {
  background-color: var(--color-content-on-warning);
  border-radius: 5px;
  height: 10px;
  position: relative;
  width: 10px;
}

.element .text-wrapper-5 {
  color: var(--color-content-on-warning);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .ellipse-2 {
  background-color: var(--color-content-on-error);
  border-radius: 5px;
  height: 10px;
  position: relative;
  width: 10px;
}

.element .text-wrapper-6 {
  color: var(--color-content-on-error);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .ellipse-3 {
  background-color: var(--color-content-on-success);
  border-radius: 5px;
  height: 10px;
  position: relative;
  width: 10px;
}

.element .text-wrapper-7 {
  color: var(--color-content-on-success);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .frame-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 164px;
}

.element .div-wrapper {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-stroke-primary);
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 72px;
  justify-content: center;
  padding: 16px 18px 16px 24px;
  position: relative;
  width: 100%;
}

.element .text-wrapper-8 {
  color: var(--color-content-primary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .frame-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 155px;
}

.element .table-cell-4 {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-stroke-primary);
  display: flex;
  gap: 12px;
  height: 72px;
  padding: 16px 18px 16px 24px;
  position: relative;
  width: 100%;
}

.element .text-wrapper-9 {
  color: var(--color-content-primary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .frame-7 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.element .text-wrapper-10 {
  color: var(--color-content-secondary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .content-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: var(--color-background-raised);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-stroke-primary);
  border-radius: 0px 12px 0px 0px;
  display: flex;
  gap: 11px;
  height: 48px;
  padding: 12px 24px;
  position: relative;
  width: 100%;
}

.element .table-cell-5 {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-stroke-primary);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  gap: 12px;
  height: 72px;
  padding: 16px 18px 16px 24px;
  position: relative;
  width: 100%;
}

.element .text-wrapper-11 {
  color: var(--color-content-primary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .button {
  all: unset;
  align-items: center;
  background-color: var(--color-background-default);
  border: 1px solid;
  border-color: var(--color-stroke-primary);
  border-radius: 9px 8px 8px 9px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  height: 40px;
  left: 306px;
  padding: 8px 16px;
  position: absolute;
  top: 193px;
  width: 370px;
}

.element .div-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.element .text-wrapper-12 {
  color: var(--color-content-tertiary);
  font-family: var(--body-medium-font-family);
  font-size: var(--body-medium-font-size);
  font-style: var(--body-medium-font-style);
  font-weight: var(--body-medium-font-weight);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .frame-wrapper {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 688px;
  position: absolute;
  top: 196px;
}

.element .frame-8 {
  align-items: center;
  background-color: var(--color-background-raised);
  border-radius: 7px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  height: 34px;
  padding: 8px 12px;
  position: relative;
}

.element .trigger-dropdown {
  height: 100%;
  width: 120px; /* Adjust the width as needed */
  border: 1px solid var(--color-border);
  border-radius: 4px;
  border-color: var(--color-stroke-primary);
  padding: 6px;
  font-size: 14px;
  background-color: white;
  color: var(--color-text);
  cursor: pointer;
}
.element .risk-level-dropdown {
  height: 100%;
  width: 120px; /* Adjust the width as needed */
  border: 1px solid var(--color-border);
  border-radius: 4px;
  border-color: var(--color-stroke-primary);
  padding: 6px;
  font-size: 14px;
  background-color: white;
  color: var(--color-text);
  cursor: pointer;
}



.element .label {
  color: var(--color-content-secondary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element .chevron-down {
  height: 16px;
  position: relative;
  width: 16px;
}

.element .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  gap: 16px;
  left: 846px;
  position: absolute;
  top: 196px;
}

.element .overlap-group {
  height: 812px;
  left: 0;
  position: absolute;
  top: 0;
  width: 258px;
}

.element .sidepanel {
  align-items: flex-start;
  background-color: var(--color-background-default);
  border-color: var(--color-stroke-primary);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  height: 1000px;
  justify-content: space-between;
  left: 0;
  padding: 48px 32px 32px;
  position: absolute;
  top: 0;
  width: 200px;
}

.element .frame-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  position: relative;
  width: 100%;
}

.element .image {
  height: 77.6px;
  object-fit: cover;
  position: relative;
  width: 194px;
}

.element .frame-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.element .div-wrapper-2 {
  align-items: center;
  align-self: stretch;
  border-radius: 7px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  overflow: hidden;
  padding: 10px 16px;
  position: relative;
  width: 100%;
}

.element .text-wrapper-13 {
  color: var(--color-content-secondary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.element .home {
  align-items: center;
  align-self: stretch;
  background-color: var(--color-background-brand);
  border-radius: 7px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  overflow: hidden;
  padding: 10px 16px;
  position: relative;
  width: 100%;
}

.element .text-wrapper-14 {
  color: var(--color-base-brand);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.element .text-wrapper-15 {
  color: var(--color-content-secondary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 67px;
}

.element .avatar-text-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 80px;
  margin-right: -10px;
  position: relative;
  width: 204px;
}

.element .avatar {
  background-image: url(https://c.animaapp.com/McviV3R7/img/image-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  position: relative;
  width: 38px;
}

.element .text {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  position: relative;
}

.element .text-wrapper-16 {
  color: var(--color-content-secondary);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element .frame-12 {
  align-items: center;
  background-color: var(--color-background-error);
  border-radius: 7px;
  display: inline-flex;
  gap: 6px;
  height: 40px;
  left: 1238px;
  padding: 8px 16px;
  position: absolute;
  top: 101px;
}

.element .label-2 {
  color: var(--color-base-error);
  font-family: "Lettera Text LL-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.hero{
  border: none;
}
/* Add this to your existing CSS file or create a new one */
.hero-close{
  justify-content: flex-start;
}
.close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1;
  
}

.close-modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  max-width: 400px;
  text-align: center;
}

.close-modal-content p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.close-modal-content label {
  display: block;
  margin-bottom: 5px;
}

.close-modal-content input,
.close-modal-content select,
.close-modal-content textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.close-modal-content button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal-content button:hover {
  background-color: #45a049;
}

/* Close button inside modal */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}


.hero-radio{
  display: inline-flex;
  justify-content: flex-start;
  height: 30px;
  align-items: center;
  
}

.hero-line{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button {
  border: none;
  outline: none;
  background: none;
}
